body, html{
    margin: 0;
    background: rgb(240, 240, 240);
    color:#262626;
	  height: 100%;
	  line-height: 1;
	  align-items: stretch;
  }
  #header {
    height: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    margin-left: 30px;
    margin-right: 30px;
  } 
  #img1{
    width:600px; 
    height:80px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }  
  
  h1{
    font-family: "Trebuchet MS", sans-serif;
      text-align: center;
      color:#da6134;
  } 
  h3{
    text-align: left;
    color:#050825;
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 18px;
  }
  h5{
    text-align: left;
    color:#444343;
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 18px;
  }
  .container-all{
    margin: 0px auto;
    overflow: auto;
    background: rgb(240, 240, 240);
    margin-left: 80px;
    margin-right: 80px;
  }
  #body {
    width: 1500px;
    margin: 0 auto;
  }
  .container{
    margin: 0px;
    float: left;
    width: calc(33%);
    position:relative;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  img{
    width: 100%;
    transition-duration: .3s;
    max-width: 100%;
    display:block;
    overflow:hidden;
    cursor:pointer;
  }
  form.{
    width: 50%;
    display:block;
  }
  .container-bootstrap{
    overflow:hidden;
    height: fit-content;
    margin:5px;
    padding: 0;
    display:block;
    position:relative;
    float:left;
    position: fixed;
  }
  .button{
    display: inline-block;
    width:100px;
  }
  .full{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 
  
  .title{
    position:absolute;
    display:block;
    cursor:pointer;
    top: 35%;
    display: none;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: italic;
    font-size: 1.6em;
    text-shadow: 1px 5px 10px black;
    transition-duration: .3s;
  }
  .text{
    position:absolute;
    top: 70%;
    cursor:pointer;
    max-width: 80%;
    text-align:center;
    left: 50%;
    text-shadow: 1px 5px 10px black;
    font-size: 1em;
    display:none;
    margin-right: -50%;
    transition-duration: .3s;
    transform: translate(-50%, -50%) 
  }
  .container:hover img{
    transform: scale(1.2);
    transition-duration: .3s;
    filter: grayscale(50%);
    opacity: .7;
  }
  .container:hover span{
    color:white;
    display: block;
    transition-duration: .3s;
  }
  @media only screen and (max-width: 900px) {
      .container {
          width: calc(50% - 6px);
      }
  }
  @media only screen and (max-width: 400px) {
      .container {
          width: 100%;
      }
  }

  /*body {
    padding-top: 0;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    margin-top:20px;
  }*/
  

  .chat-message {
    position:static;
    top: 50px; 
    left: 0;
    right: 0;
    bottom:50px;
    padding: 15px;
    overflow-y:scroll; 
    float: none; 
  }
  
  .chat {
    list-style: none;
    margin: 0;
  }
  
  .chat-body {
    padding-bottom: 5px;
  }
  
  ul.chat {
    padding-inline-start: 1px;
  }
  
  .chat li.left .chat-body {
    background-color: #fff;
  }
  
  .chat li .chat-body {
    position: static;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #f1f5fc;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
  
  .chat li .chat-body .header {
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f5fc;
  }
  
  .chat li .chat-body p {
    margin: 0;
  }
  
  .chat li.left .chat-body:before {
    position: static;
    top: 10px;
    left: -8px;
    display: inline-block;
    background: #fff;
    width: 16px;
    height: 16px;
    border-top: 1px solid #f1f5fc;
    border-left: 1px solid #f1f5fc;
    content: '';
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  
  .chat li {
    margin: 5px 0;
  }
  
  .chat-box {
    position:static; 
    bottom: 0; 
    /* height:15px; */
    left: 20px;
    right: 20px;
    padding: 15px;
    border-top: 1px solid #eee;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
  }
  
  .btn-success {
    background-color: #276FBF;
  }
  
  .btn-success:hover {
    background-color: blue;
  }
  
  input[type=text] {
    border: 2px solid #183059 !important;
    border-radius: 4px;
    color: #183059;
  }
  
  a:hover, a:active, a:focus {
    text-decoration: none;
    outline: 0;
  }