body, html{
    margin: 0;
    background: rgb(240, 240, 240);
    color:#262626;
    height: 100%;
	  line-height: 1;
	  align-items: stretch;
  }
  #header {
    height: 130px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: #414141;
    margin-left: 30px;
    margin-right: 30px;
  } 
  #img1{
    width:600px; 
    height:100px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }  
  p{
    font-family: "Trebuchet MS", sans-serif;
  }
  h1 { 
    color: #006400; 
    font-family: "Gabriola", cursive; 
    font-size: 65px; line-height: 60px; 
    font-weight: normal; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    text-align: center; 
    text-shadow: 0 1px 1px #228B22;
  }
  h5{
    display: inline;
    font-family: "Trebuchet MS", sans-serif;
    color: #153758;
    margin-left: 50px;
  }
  h2{
    text-align: left;
    color: #153758;
    font-family: "Trebuchet MS", sans-serif;
  }
  h3{
    text-align: left;
    padding-top: 10px;
    color: #153758;
    font-family: "Trebuchet MS", sans-serif;
  }
  .container-all{
    margin: auto;
    overflow: auto;
    /*height: auto;*/
    background: rgb(240, 240, 240);
    margin-left: 80px;
    margin-right: 80px;
  }
  #body {
    width: 1500px;
    margin: 0 auto;
  }
  .container{
    float: left;
    width: calc(33%); 
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container-bootstrap{
    overflow:hidden;
    height: fit-content;
    margin:5px;
    padding: 0;
    display:block;
   /*position:relative;*/
    float:left;
    position: fixed;
  }
  img{
    width: 100%;
    transition-duration: .3s;
    max-width: 100%;
    height: 450px;
    width: 450px;
    display:block;
    overflow:hidden;
    cursor:pointer;
  }
 .button{
    display: inline-block;
    width:100px;
    height: 65px;
    font-weight: bold;
    position: initial;
  }
  .full{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: initial;
  }
  /*.title{
    position:absolute;
    display:block;
    cursor:pointer;
    top: 35%;
    display: none;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: italic;
    font-size: 1.6em;
    text-shadow: 1px 5px 10px black;
    transition-duration: .3s;
  }
  .text{
    position:absolute;
    top: 70%;
    cursor:pointer;
    max-width: 80%;
    text-align:center;
    left: 50%;
    text-shadow: 1px 5px 10px black;
    font-size: 1em;
    display:none;
    margin-right: -50%;
    transition-duration: .3s;
    transform: translate(-50%, -50%) 
  }
  /*.container:hover img{
    transform: scale(1.2);
    transition-duration: .3s;
    filter: grayscale(50%);
    opacity: .7;
  }
  .container:hover span{
    color:white;
    display: block;
    transition-duration: .3s;
  }*/
  @media only screen and (max-width: 900px) {
      .container {
          width: calc(50% - 6px);
      }
  }
  @media only screen and (max-width: 400px) {
      .container {
          width: 100%;
      }
  }

 /* body {
    padding-top: 0;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    margin-top:20px;
  }
  
  .bg-white {
    background-color: #fff;
  }*/
  .container-fluid{
    height: fit-content;
    margin:5px;
    padding: 10px;
    display:block;
  }
  .chat-message {
    position:static;
    top: 30px; 
    bottom:50px;
    padding: 10px;
    overflow-y:scroll; 
    float: none; 
  }
  
  .chat {
    list-style-type: none;
    margin: 0;
  }
  
  .chat-body {
    padding-bottom: 5px;
  }
  
  ul.chat {
    padding-inline-start: 0px;
    list-style-type: none;
  }
  
  .chat li.left .chat-body {
    background-color: #fcf9f4;
  }
  
  .chat li .chat-body {
    list-style-type: none;
    position: static;
    font-size: 20px;
    padding: 2px;
    border: 0px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
  
  .chat li .chat-body .header {
    list-style-type: none;
    padding-bottom: 0px;
    border-bottom: 0px;
  }
  
  .chat li .chat-body p {
    list-style-type: none;
    margin: 0;
  }
  
  .chat li.left .chat-body:before {
    list-style-type: none;
    position: static;
    top: 10px;
    left: -8px;
    display: inline-block;
    background: rgb(164, 165, 162);
    width: 16px;
    height: 16px;
    border-top: 0px;
    border-left: 0px;
  }
  
  .chat li {
    list-style-type: none;
    margin: 0 0 0 0;
  }
  
  .chat-box {
    position:static; 
    height:25px; 
    left: 0px;
    right: 0px;
    padding: 0px;
    border-top: 1px solid  #f9f4ea;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
  }
 
  .btn-success {
    background-color: #f48024;
    border-color: rgb(47, 51, 47);
  }
  
  .btn-success:hover {
    background-color: #ceb588;
  }
  
  input[type=text] {
    border: 2px solid #f48024 !important;
    border-radius: 20px;
    color: rgb(47, 51, 47);
    font-size: 20px;
    width: 450px;
    height: 60px;
    margin-left: 0px;
  }
  .row{
    margin-left: 0px;
    margin-right: 0px;

  }
  a:hover, a:active, a:focus {
    text-decoration: none;
    outline: 0;
  }
  #footer{
    height: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #414141;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    }
  #fmiddle {
    background: #FF7F2A;
    height: 115px;
  }
  #chmiddle{
    background:#ecd9b6;
    height: 100px;
  }
  #social{
    display: inline-block;
    background:  #FF7F2A;
    height:0px;
    margin-left: 440px;
}
  #img2{
    width:50px; 
    height:50px;
    display:block;
  }
  .column {
    float: left;
    width: 60px;
    padding: 5px;
  }
  .row::after{
    content: "";
    clear: both;
    display: table;
  } 