<html>
  <body>
    <h1>Ielādēju bildi ar ID</h1>
    <img src='{{request.args.get('picture')}}' height='400px' width='400px' alt='{{pic}}' />

    {% for comment in comm %}
      <p>{{comment}}</p>
    {% endfor %}
    
    <form action = "{{ url_for('bilde', picture=request.args.get('picture')) }}" method = "post">
      <p>Pievienot jaunu komentaru:</p>
      <p><input type="text" name="newComment"></p>
      <p><input type = "submit" value = "Pievienot" /></p>
    </form>

  </body>
</html>
